<div>
	<h1>商品一覧</h1>

	<h2>管理人のオススメ！</h2>


	<h2>CD一覧</h2>

	<% @cd.each do |cd| %>
	<p>
		<%= link_to cd.cd_title, cds_path(cd.id) %>
	</p>
	<% end %>

	<% @artist.each do |artist| %>
	<p>
		<%= artist.artist_name %>
	</p>
	<% end %>

	<% @cd.each do |cd| %>
	<p>
		<%= cd.price %>
	</p>
	<p>
		<%= cd.stock %>
	</p>
	<% end %>
</div>