<h1>商品一覧</h1>

<h2>管理人のオススメ！</h2>


<h2>CD一覧</h2>
<table>
	<thead>
		<tr>
		    <td>
		    <td></td>
		    <td>
		        タイトル
		    </td>
		    <td>
		       アーティスト
		    </td>
		    <td>
		        値段
		    </td>
		    <td>
		        在庫数
		    </td>
		</tr>
	</thead>




		<% @cd.each do |cd| %>
		<tbody>
		<tr>
		    <td>
		    </td>
		    <td>
		        <%= link_to cd.cd_title, cds_path(cd.id) %>
		    </td>
		    <td>
		        <%= cd.artist.id%>
		    </td>
		    <td>
		        <%= cd.price %>
		    </td>
		    <td>
		        <%= cd.stock %>
		    </td>

		</tr>
		<tbody>
</table>
<% end%>
