<h1>ジャンル登録 </h1>

<%= form_for (@genre), url: admins_genres_path  do |a| %>

<h4> 新規登録　</h4>
<%= a.text_field :cd_genre %>


 <%= a.submit '投稿' %>

 <% @genres.each do |po| %>
    <p>ジャンル一覧</p>
    <span><%= po.cd_genre %></span>
 <% end %>
<% end %>
