// Place all the styles related to the cds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cd{
	display: inline-flex;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
}
.cdt{
	background-color: #ffebcd;
}

.price{
	color: #b90707;
	font-size: 20px;
}
.cd_title{
	font-size: 15px;
}

.cd_title_s{
	font-size: 30px;
}


ul{
	list-style: none;
}